
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>

<div class="wrapper_login">
  <h5 class="texto">Login de Usuario</h5>
  <form method="post">
      <% if (notice) { %>
          <div class="notice"> <%=notice%> </div>
      <% } %>
       <div class="field">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" value="<%= locals.name %>" />
      </div>
      <div class="field">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" />
      </div>

      <div class="actions">
        <input type="submit" value="Iniciar sesión"/>
      </div>
  </form>
</div>
    <a href="/nuevo_usuario">
      <button class="like_button"> Registrar Usuario </button>
    </a>
    <footer class = "footer"> @IIC2513 Monki Flip </footer>
</body>
</html>
